<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="https://mpld3.github.io/js/mpld3.v0.3.js"></script>
</head>

<body>

    <style>
    
        table {
            border-collapse: collapse;
        }
        
        table, td, th {
            border: 1px solid black;
        }
        
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        
        th {
            background-color: #666699;
            color: white;
        }

    </style>

    <h1>{{ title }}</h1>
    
    {% for item in items.values() %}
    
        {% if item.datatype == 'MPLD3' %}
        
            <div id="{{ item.name }}"></div>
            
            <script type="text/javascript">
                $.getJSON("https://covid-statistics.s3.amazonaws.com/{{ item.filename }}", function(data) {mpld3.draw_figure("{{ item.name }}", data);});
            </script>
        
        {% elif  item.datatype == 'MPLPNG' %}
        
            <img src="{{ item.filename }}">

        {% elif  item.datatype == 'HTML' %}
        
            {{ item.data }}
        
        {% else %}
        
            <p id="{{ item.name }}"> {{ item.data }} </p>
        
        {% endif %}
    

    {% endfor %}
   
 
</body>
</html>